{% extends "inBase.html" %} {% block content %}
<!--//header-w3l-->
<!--/w3l-inner-page-breadcrumb-->
<style>
	.ideaContent p {
		text-align: justify;
	}
	.ideaContent h4 {
		margin-top: 20px;
		text-align: center;
	}
	.idea {
		border-bottom: 1px dotted brown;
		padding: 20px 0;
	}
</style>
<section class="w3l-inner-page-breadcrumb">
	<div class="breadcrumb-bg py-5">
		<div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
			<h2 class="title pt-5"></h2>
		</div>
	</div>
</section>
<!-- //w3l-inner-page-breadcrumb-->
<!-- /contact-section -->
<div class="w3l-contact-10" id="contact">
	<div class="form-41-mian py-lg-5 py-md-4 py-2">
		<div class="container">
			<div class="header-title text-center mx-auto">
				<h3 class="title-w3l">Startup Idea</h3>
			</div>
			<div class="contacts-5-grid-main mt-4">
				<div class="form-inner-cont">
					<div class="idea container">
						<div class="useridea d-flex">
							<div class="d-flex">
								<img
									src="/static{{data.10}}"
									alt=""
									style="
										width: 50px;
										height: 50px;
										border-radius: 50%;
										margin-right: 10px;
									"
								/>
								<div class="">
									<em
										><strong
											><a href="/inViewSf?sfid={{data.5}}"
												>{{data.6}}</a
											></strong
										><br /><small>{{data.4}}</small></em
									>
								</div>
							</div>
						</div>
						<div
							class="ideaContent container"
							style="border-bottom: 1px dotted brown; padding-bottom: 20px"
						>
							<h4>{{data.2}}:</h4>
							<p class="line-clamp">{{data.3}}</p>
							{% if interest %} {% if interest.3 == "Accepted" %}
							<h4>Status: <span class="text-success"> Accepted</span></h4>
							{% elif interest.3 == "Rejected" %}
							<h4>Status: <span class="text-danger"> Rejected</span></h4>
							{% else %}
							<h4>Status: <span class="text-warning"> Pending</span></h4>
							{% endif %} {% else %}
							<h4>
								<a href="/inShowInterest?idea={{data.0}}">Show Interest</a>
							</h4>
							{% endif %}
						</div>
						{% for c in comments %}
						<div
							class="comment"
							style="border-bottom: 1px dotted brown; padding: 10px"
						>
							<p>{{c.3}}</p>
							<h6><a href="/inViewSf?sfid={{c.1}}">{{c.6}}</a></h6>
							<small>{{c.4}}</small>
						</div>
						{% endfor %}

						<br /><br />
					</div>
				</div>
			</div>
		</div>
		<!-- //contacts-5-grid -->
	</div>
</div>

<!-- //contact-section -->
<!-- footer -->
{% endblock %}
